* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
    --main-app-bg-color: #333;
    --main-app-txt-color: #fff;
}

body {
    position: absolute;
    background-color: var(--main-app-bg-color);
	font-family: sans-serif;
    width: 100%;
}

.preloader {
    position: relative;
	display: flex;
	justify-content: center;
    align-items: center;
    flex-direction: row;
	z-index: 10;
	visibility: hidden;
	opacity: 0;
    gap: 5px;
    height: 100vh;
    background-color: var(--main-app-bg-color);
}
.content {
    position: absolute;
}

.loading-box {
	display: flex;
    gap: 5px;
}

.show-preloader {
	visibility: visible;
	opacity: 1;
}

.circle {
	height: 10px;
	width: 10px;
	background-color: var(--main-app-txt-color);
	border-radius: 50%;
	animation: loading 1.5s infinite ease-in-out;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 5px;
	color: var(--main-app-txt-color);
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--main-app-txt-color);
    height: 100vh;
    width: 100%;
}

.loading-box .circle:nth-child(1) {
	animation-delay: -0.6s;
}

.loading-box .circle:nth-child(2) {
	animation-delay: -0.5s;
}

.loading-box .circle:nth-child(3) {
	animation-delay: -0.4s;
}

.loading-box .circle:nth-child(4) {
	animation-delay: -0.3s;
}

@keyframes loading {
	0%,
	40%,
	100% {
		transform: translateY(-10px);
	}
	20% {
		transform: translateY(-20px);
	}
}
